.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  border-bottom: 2px solid #1449ac;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbart{
  display: inline;
  gap: 16px;
 
  background-color: #f6f8fa;
  border-radius: 8px;
  padding-right: 0.5rem;

}

.navbar-right {
  display: flex;
  gap: 18px;
  align-items: center;
}

.navbar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  padding: 8px;
  border-radius: 50%;
  transition: transform 0.2s ease, background 0.2s;
}

.navbar-icon:hover {
  background: #f1f1f1;
  transform: scale(1.1);
}

.initials-avatar {
  margin-left: 6px;
  font-size: 13px;
  font-weight: 600;
  color: #007bff;
}

.logout-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
